# Packer
packer_cache/
crash.log
*.box
packer-manifest.json

# Artifacts
*.img
*.checksum

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
