# Packer
packer_cache/
crash.log
*.box
packer-manifest.json

# Artifacts
*.img
*.checksum

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# Sublime
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
GitHub.sublime-settings

# System
*Zone.Identifier
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
$RECYCLE.BIN/
._*
.DS_Store
.AppleDouble
.LSOverride
